# 파이썬기초1

## 자료형
- 자료형이란 프로그래밍할 때 쓰이는 숫자, 문자열 등 자료 형태로 저장되는 모든 것을 뜻함.

### 숫자형

In [11]:
1 - 0.9 # 1 - 0.9 = 0.1

0.09999999999999998

In [12]:
10 / 3 # 10 / 3 = 3.3333333

3.3333333333333335

### 문자열

In [19]:
boy = "I'm a boy."
boy # 문자열에 작은 따옴표(') 입력하기

"I'm a boy."

In [18]:
say = '"Good morning", he says.'
say # 문자열에 큰 따옴표(") 입력하기

'"Good morning", he says.'

In [20]:
boy = 'I\'m a boy.'
boy # 백슬래시를 이용하여 따옴표(')를 표시함.

"I'm a boy."

In [21]:
say = "\"Good morning\", he says."
say # 백슬래시를 이용하여 큰따옴표(")를 표시함.

'"Good morning", he says.'

In [22]:
multiline = "life is too short,\nYou need python."
print(multiline)

life is too short,
You need python.

In [23]:
multiline2 = """
Life is too short,
You need python.
"""
print(multiline2)

Life is too short,
You need python.

In [25]:
head = "hello"
tail = ' world!'
head + tail # 문자열 더해서 연결하기

'hello world!'

In [26]:
a = 'Python'
a * 3

'PythonPythonPython'

In [27]:
print('=' * 50)
print("My program")
print('=' * 50)

==================================================
My program
==================================================

#### 문자열 인덱싱

In [28]:
a = "Life is too short, you need python"

In [30]:
a[0], a[1], a[2], a[3]

('L', 'i', 'f', 'e')

In [32]:
a[12] + a[13] + a[14] + a[15] + a[16]

'short'

In [33]:
a[-6]+a[-5]+a[-4]+a[-3]+a[-2]+a[-1]

'python'

#### 문자열 슬라이싱

In [34]:
a[12:16] # 12 <= a < 16이기 때문에 a[12:16]으로 'shor'

'shor'

In [35]:
a[12:17] # 12 <= a < 17, 'short'

'short'

In [36]:
a[-6]+a[-5]+a[-4]+a[-3]+a[-2]+a[-1]

'python'

In [37]:
a[-6:] # 처음부터 혹은 끝까지는 콜론(:)

'python'

In [38]:
a[:]

'Life is too short, you need python'

In [52]:
# 연월일과 날씨정보가 한 번에 입력되었다.
a = "20180321Sunny"
date = a[:8] # 날짜만 슬라이싱
weather = a[8:] # 날씨만 슬라이싱
date

'20180321'

In [42]:
weather

'Sunny'

In [48]:
# 날짜를 더욱 세밀하게 슬라이싱한다.
year = a[:4] # 연도만
day = a[4:8] # 월일만
year

'2018'

In [49]:
day

'0321'

In [50]:
date

'20180321'

In [51]:
weather

'Sunny'

#### 문자열 포매팅

In [58]:
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [59]:
"I eat {0} apples" .format("five")

'I eat five apples'

In [60]:
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [61]:
number = 10
day = "there"
"I ate {0} apples. So I was sick for {1} days." .format(number, day)

'I ate 10 apples. So I was sick for there days.'

In [62]:
"I ate {number} apples. So I was sick for {day} days." .format(number=10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

In [63]:
# 인덱스와 이름 혼용하기
"I ate {0} apples. So I was sick for {day} days." .format(10, day=3)

'I ate 10 apples. So I was sick for 3 days.'

In [65]:
# 정렬과 공백 채우기
"{0:<10}" .format("hi")

'hi        '

In [66]:
"{0:>10}" .format("hi")

'        hi'

In [67]:
"{0:^10}" .format("hi")

'    hi    '

In [68]:
"{0:=^10}" .format("hi")

'====hi===='

In [69]:
"{0:!<10}" .format("hi")

'hi!!!!!!!!'

In [72]:
y = 3.42134234
"{0:0.4f}" .format(y)

'3.4213'

In [73]:
"{0:10.4f}" .format(y)

'    3.4213'

In [74]:
"{0:<10.4f}" .format(y)

'3.4213    '

In [75]:
"{{and}}" .format()

'{and}'

In [76]:
"{{and}}" .format(3)

'{and}'

#### 문자열 관련 함수

In [77]:
a = "hobby"
a.count('b')

2

In [78]:
a = "Python is best choice."
a.find('b')

10

In [79]:
a.find('k')

-1

In [80]:
a.index('b')

10

In [81]:
a.index('k')

ValueError: substring not found

In [82]:
a = ","
a.join('abcd')

'a,b,c,d'

In [83]:
a = "hi"
a.upper()

'HI'

In [84]:
a = "HI                                                                                                                                      "
a.lower()

'hi                                                                                                                                      '

In [85]:
a = " hi "
a.lstrip()

'hi '

In [86]:
a.rstrip()

' hi'

In [87]:
a.strip()

'hi'

In [89]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [90]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [91]:
a = "a:b:c:d"
a.split()

['a:b:c:d']

In [92]:
a.split(':')

['a', 'b', 'c', 'd']

### 리스트

In [94]:
a = []

In [95]:
a = list()

In [96]:
b = [1, 2, 3]

In [97]:
c = ['Life', 'is', 'too', 'short']

In [98]:
d = [1, 2, 'Life', 'is']

In [99]:
e = [1, 2, ['Life', 'is']]

#### 리스트의 인덱싱

In [100]:
a = [1, 2, 3]
a

[1, 2, 3]

In [101]:
a[0]

1

In [102]:
a[0] + a[2]

4

In [103]:
a[-1]

3

In [105]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[0]

1

In [106]:
a[-1]

['a', 'b', 'c']

In [107]:
a[3]

['a', 'b', 'c']

In [108]:
a[-1][0]

'a'

In [109]:
a[-1][1]

'b'

In [110]:
a[-1][2]

'c'

In [111]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [112]:
a[2][2][0]

'Life'

In [113]:
a[2][1]

'b'

In [114]:
a[1]

2

#### 리스트의 슬라이싱

In [120]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

In [121]:
b

[1, 2]

In [122]:
c

[3, 4, 5]

In [123]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [124]:
a[3][:2]

['a', 'b']

#### 리스트의 연산

In [125]:
a = [1, 2, 3]
b = [4, 5, 6]

In [126]:
a + b

[1, 2, 3, 4, 5, 6]

In [127]:
a

[1, 2, 3]

In [128]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [129]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [130]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

In [131]:
str(a[1]) + "apple"

'2apple'

In [132]:
a = [1, 2, 3]
a[2] = 4

In [133]:
a

[1, 2, 4]

In [134]:
a[1:2]

[2]

In [135]:
a[1:2] = ['a', 'b', 'c']

In [136]:
a

[1, 'a', 'b', 'c', 4]

In [137]:
a = [1, 2, 4]
a[1] = ['a', 'b', 'c']

In [138]:
a

[1, ['a', 'b', 'c'], 4]

#### 리스트의 수정, 변경, 삭제

In [143]:
a = [1, 'a', 'b', 'c', 4]
a[1:3] = []
a

[1, 'c', 4]

In [144]:
a

[1, 'c', 4]

In [145]:
del a[1]
a

[1, 4]

In [146]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

#### 리스트 관련 함수

In [149]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [150]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [151]:
a.append(["hi"])
a

[1, 2, 3, 4, [5, 6], ['hi']]

In [152]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [153]:
a = ['a', 'd', 'e', 'b', 'c']
a.sort()
a

['a', 'b', 'c', 'd', 'e']

In [154]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [155]:
a = [1, 2, 5, 3, 4]
a.reverse()
a

[4, 3, 5, 2, 1]

In [156]:
a = [1, 2, 3]
a.index(3)

2

In [157]:
a.index(2)

1

In [158]:
a.index(1)

0

In [159]:
a.index(0)

ValueError: 0 is not in list

In [160]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [161]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [166]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [167]:
a.remove(3)
a

[1, 2, 1, 2]

In [168]:
a = [1, 2, 3]
a.pop()

3

In [169]:
a

[1, 2]

In [170]:
a = [1, 2, 3]
a.pop(1)

2

In [171]:
a

[1, 3]

In [172]:
a = [1, 2, 3, 1]
a.count(1)

2

In [173]:
a.count(2)

1

In [174]:
a.count(3)

1

In [ ]:
a = [1, 2, 3]
a.extend()